{{>header}}
<h1>Administración de Usuarios</h1>

<div id="homeList">
    {{>card}}
</div>

<p>Usuarios inactivos: {{inactiveUsers}}</p>
<button class="btn btn-danger delete-users-button" {{#if usersToDelete}}disabled{{/if}} >Eliminar</button>

<script src="/js/adminUsers.js"></script>