<section id="section-changepassword">
    <div class="changepassword-container">
        <h3>Restablecer Contrase침a</h3>
        
        <form id="form-changepassword" action="/api/sessions/resetPassword" method="POST">
            <div>
                <label for="email">Email: </label>
                <input class="form-control" type="email" name="email" id="email" required>
            </div>
        
            <div>
                <label for="token"> Numero de confirmaci칩n: </label>
                <input class="form-control" type="text" name="token" id="token" required>
            </div>
        
            <div>
                <label for="password"> Nueva Contrase침a: </label>
                <input class="form-control" type="password" id="password" name="password" required>
            </div>
        
            <div>
                <label for="password2"> Repetir nueva contrase침a: </label>
                <input class="form-control" type="password" id="password2" name="password2" required>
            </div>
        
            <button class="btn btn-dark btn-changepassword" type="submit">Restablecer</button>
        </form>
        
        {{#if error}}
            <p class="errorPassword" class="error"> {{error}} </p>
        {{/if}}
    </div>
</section>