<section id="section-confirmation">
    <h1> Correo de restablecimiento enviado correctamente </h1>
    <p>Revisa tu correo para obtener el c칩digo de confirmaci칩n y cambiar tu contrase침a</p>
    <a class="btn btn-dark" href="/changePassword">Cambiar Contrase침a</a>
</section>