{{>header}}
<h1>Mi Perfil</h1>
<p>Hola {{user.first_name}} {{user.last_name}}!</p>
<p>Email: {{user.email}}</p>
<p>Edad: {{user.age}}</p>

<form action="/api/sessions/logout" method="POST">
    <button type="submit">Cerrar Sesión</button>
</form>
{{#if noAdmin}}
    <form action="/premium" method="GET">
        <button type="submit">Volverse Premium</button>
    </form>
{{/if}}