<h1>Generar un nuevo correo de reestablecimiento</h1>
<form action="/api/user/requestPasswordReset" method="POST">
    <label for="">Email: </label>
    <input type="text" name="email" id="email" required>

    <button type="submit">Enviar</button>
</form>

{{#if error}}
    <p class="error"> {{error}} </p>
{{/if}}