@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body{
    margin: 20px;
}

h1{
    color: black;
    text-align: center;
    padding-bottom: 1rem;
}

#productsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

#formAddProduct{
    margin-bottom: 3rem;
}

/*---ERROR---*/
.errorPassword{
    margin-bottom: 0px;
}
/*---PREMIUM.HANDLEBARS---*/

#section-premium{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
}

#section-premium h5{
    background-color: black;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 1rem;
    color: white;
    width: 80%;
    padding: 1rem 0rem;
}

.input-group-premium{
    color: white;
    width: 100%;
}

.input-group-premium label{
    color: white;
    background-color: rgb(46, 46, 46);
}

#formDocuments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.data-uploades-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/*---HEADER.HANDLEBARS---*/
.navbar{
    padding: 1rem;
}

.navbar-brand{
    color: white;
}
.nav-link
{
    color: white;
    padding: 0.5rem 1rem;
}

.navbar-brand:hover{
    color: rgb(196, 196, 196);
}
.nav-link:hover{
    color: rgb(196, 196, 196);
    padding: 0.5rem 1rem;
}

.navbar-nav .nav-link.active{
    background-color: white;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

.navbar-nav{
    gap: 2rem;
}

.collapse{
    display: flex;
    justify-content: center;
}

.icon-bibliomaniacs{
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}

.perfil-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background-color: white;
    padding: 1rem;
    margin-left: 2rem;
    border-radius: 100%;
}

.perfil-icon img{
    width: 20px;
    height: 20px;
}

.search-profile-container{
    display: flex;
}

/*---LOGIN.HANDLEBARS---*/
#sectionLogin{
    display: flex;
    justify-content: center;
}

#divFormLogin{
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    justify-content: center !important;
    align-items: center !important;
    width: 40%;
}

#divFormLogin h1{
    background-color: black;
    color: white;
    padding: 1rem;
    width: 100%;
}

.form-button-container{
    padding: 2rem;
}

.form-button-container input{
    border-radius: 10px;
    height: 2.5rem;
    padding: 1rem;
}

#divFormLogin form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-login{
    margin-bottom: 1rem;
}

#divFormLogin div:not(.password-container){
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0rem;
}

.button-container{
    border-top: 1px solid rgb(146, 145, 145);
}

.github-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.github-icon{
    height: 15px;
    width: 15px;
}

.email-login{
    border: 1px solid #ced4da;
}

.btn-password{
    border: 1px solid #ced4da;
}

.eye-login-password{
    width: 25px;
    height: 20px;
}

/*---REGISTER.HANDLEBARS---*/

#section-registration{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-registration h1{
    background-color: black;
    color: white;
    padding: 1rem;
    width: 100%;
}

#section-registration div:not(.form-group-login){
    display: flex;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

#section-registration form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
}

.form-group-login{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btn-register{
    grid-column: span 2;
}

/*---PRODUCTS.HANDLEBARS---*/
.card-body-products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.card-title{
    margin-top: 1rem;
}

.title-cover{
    position: absolute;
    top: 30%;
    left: 50%;
    display: flex;
    justify-content: center;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-family: "dancing script";
    text-align: center;
    color: white;
}

.seeDetailProduct{
    width: 100%;
}

.pagination-container{
    display: flex;
    justify-content: center;
}

.pagination-container p{
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}

.pagination button{
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 0rem 1rem;
    border: 0.5px solid;
}

.pagination img{
    width: 15px;
    height: 15px;
}

#homeList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 5rem;
    margin-top: 8rem;
    justify-items: center;
}

#homeEmpty{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

/*---PRODUCT.HANDLEBARS---*/

#product-detail-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;
    width: 100%;
    height: 80vh;
}

.title-cover-product{
    position: absolute;
    top: 50%;
    left: 17%;
    display: flex;
    justify-content: center;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 1.5rem;
    font-family: "dancing script";
    text-align: center;
    color: white;
    width: 25%;
}

.card-body-product{
    width: 90%;
}

.card-body-product-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title-product{
    margin: 2rem 0rem;
}

.card-text-product{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #dddcdc;
    padding-bottom: 0.5rem;
}

/*---CART-HANDLEBARS---*/

#section-cart{
    margin-top: 6rem;
}

.no-product-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 79vh;
}

.no-products{
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
    background-color: #dddcdc;
}

.header-cart{
    background-color: rgb(25, 24, 24);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1rem;
    grid-column: span 7;
}

.cart-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

.cart-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 1rem;
}

.header-data, .product {
    display: contents;
}

.header-data h6, .product > * {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(197 189 189);
    padding: 1rem;
    margin: 0rem;
}

.total-container{
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgb(197 189 189);
    margin: 1rem;
    padding: 1rem;
}

.total-container h5{
    margin-bottom: 0rem;
}

.buttons-cart-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

/*---PROFILE-HANDLEBARS---*/

#section-profile{
    margin-top: 6rem;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.profile-container{
    border: 1px solid black;
    border-radius: 10px;
}

.profile-container h4{
    background-color: black;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1.5rem;
    text-align: center;
}

.profile-container div{
    padding: 1rem;
}

.title-data{
    display: flex;
    justify-content: space-between;
}

.premium-div-profile {
    text-align: center;
    background-color: rgb(255, 216, 62);
}

.email-data{
    border-bottom: 1px solid black;
}

.btn-premium{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-premium img{
    height: 25px;
    width: 25px;
}

.button-in-profile{
    width: 100%;
    display: flex;
    justify-content: center;
}

.forms-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem
}

/*---CHAT-HANDLEBARS---*/

#section-chat{
    margin-top: 8rem;
}

.title-chat{
    margin-top: 2rem;
}

.text-chat{
    background: black;
    color: white;
    padding: 2rem;
    width: 42%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container-chatbox{
    position: fixed;
    bottom: 0;
    width: 97%;
    padding: 10px;
    background-color: #f8f9fa;
}

#messagesLogs {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    margin-bottom: 60px;
}

.container-chatbox input{
    width: 100%;
}

.message{
    padding-left: 1rem;
}

.message-right {
    text-align: right;
    background-color: #e8e8e8;
    padding: 8px 12px;
    margin: 5px 0;
    border-radius: 10px;
    max-width: 60%;
    margin-left: auto;
}

.message-left {
    text-align: left;
    background-color: rgb(56, 55, 55);
    color: white;
    padding: 8px 15px;
    margin: 5px 0;
    border-radius: 10px;
    max-width: 60%;
    margin-right: auto;
}

.container-messages{
    border-top: 1px solid black;
}

.username-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

#username{
    font-weight: 700;
}

/*---REALTIMEPRODUCTS.HANDLEBARS---*/

#section-realtimeproducts{
    margin-top: 7rem;
}

.btn-delete-product{
    width: 100%;
}

.form-title-product{
    background-color: black;
    border-radius: 10px;
    color: white;
    padding: 1rem;
    text-align: center
}

.form-container-realtimeproducts{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem
}

#formAddProduct{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    width: 60%;
    gap: 1rem;
}

#btnSend{
    grid-column: span 2;
}

/*---ADMINUSER.HANDLEBARS---*/

.become-premium-button{
    width: 100%;
}

/*---RESET-PASSWORD.HANDLEBARS---*/

#section-resetpassword{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.resetpassword-container{
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    justify-content: center !important;
    align-items: center !important;
    width: 40%;
}

.resetpassword-container div:not(.input-group){
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 2rem 0rem;
}

#section-resetpassword h3{
    background-color: black;
    color: white;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

/*---CONFIRMACIONENVIO-HANDLEBARS---*/

#section-confirmation{
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*---CHANGEPASSWORD-HANDLEBARS---*/

#section-changepassword{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.changepassword-container{
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    justify-content: center !important;
    align-items: center !important;
    width: 40%;
}

.changepassword-container h3{
    background-color: black;
    color: white;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

#form-changepassword{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    width: 80%;
    gap: 2rem;
    margin: 2rem 0rem;
}

.btn-changepassword{
    grid-column: span 2;
}

/*---CHECKOUT-HANDLEBARS---*/

#section-checkout{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.checkout-container{
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    justify-content: center !important;
    align-items: center !important;
    width: 40%;
}

.checkout-container h2{
    background-color: black;
    color: white;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

.checkout-container div{
    padding: 2rem;
}

.btn-back{
    width: 100%;
}

/*---Manejo de restablecimiento de contraseña--*/
.errorPassword{
    color: red;
}

/*---Card User Inactive---*/
.inactive{
    background-color: rgba(255, 0, 0, 0.627);
}